.to-do-app{
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px indianred;
  margin-top: 10px;
  padding: 30px;
}
.to-do-show{
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px indianred;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 10px 10px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
}
.row-content{
  margin-top: 10px;
}