body {
	background: #ece7e7;
}
.user-input{
	padding-top: 10px;
}

.container{
	margin-top: 20px;
	text-align: center;
}
.show-messenger{
	background-color: #ffffff;
	height: 300px;
	padding: 10px;
	overflow: auto;
}
.input-page{
	margin-top: 20px;
}
.chat-messenger-item{
	border-bottom: rgba(133,133,133,0.23) 1px solid;
	display: flex;
	vertical-align: middle;
	font-size: 18px;
}
.show-chat-item{
	padding: 20px;
}